section.business {
    background: url(../images/busniness-bg.jpg) no-repeat fixed;
    background-size: cover;
    padding: 30px 0 0;
}
a, b, div, footer, h1, h2, h3, h4, h5, h6, header, img, p, section, span, strong, ul, ul li {
    font-family: 'Josefin Sans',sans-serif;
    transition: all .4s;
    -webkit-transition: all .4s;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before, input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
section {
    display: block;
}
body {
    font-family: 'Josefin Sans',sans-serif;
    background: #fff;
    overflow-x: hidden;
}